.vscode/settings.json
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/SysteemAnalyse.iml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__
test/name.mp3
test/name0.mp3
test/name1.mp3
test/name2.mp3
test/name3.mp3
test/name4.mp3
test/name.mp3
